<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h3>Cool, we have a new cocktail!! </h3>
      <h4><%= @cocktail.name %></h4>
      <%= link_to "Back",  cocktails_path%>

      <ul class="list-group">
        <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item">
            <%= dose.description %> de <%= dose.ingredient.name %>
            <%= link_to "Delete", cocktail_path %>
          </li>
        <% end %>
      </ul>

      <%= simple_form_for @dose do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.button :submit, class:"btn-primary"%>
      <% end %>
    </div>
  </div>
</div>





