<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h3>Fancy a <em><%= @cocktail.name %></em>? </h3>

      <% if @cocktail.photo? %>
         <%= cl_image_tag @cocktail.photo.path, width: 300, height: 300, crop: :fill %>
      <% end %>
      <ul class="list-group">
        <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item">
            <%= dose.description %> de <%= dose.ingredient.name %>
            <%= link_to "Delete", dose_path(dose.id), method: :DELETE, class:"btn btn-default btn-xs" %>
          </li>
        <% end %>
      </ul>

      <%= simple_form_for @dose do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.button :submit, class:"btn-primary"%>
      <% end %>
      <%= link_to "Back",  cocktails_path%>
    </div>
  </div>
</div>





